<section class="convertDate-form">
  <form [formGroup]="formgroup" (ngSubmit)="convertbyDate()">
    <div
      class="date d-flex flex-column flex-lg-row justify-content-start align-items-center my-md-2"
    >
      <label class="ms-3 me-5 my-3" for="date">Date</label>
      <p-calendar formControlName="date" [showIcon]="true"></p-calendar>
    </div>
    <div
      class="conversion d-flex justify-content-between flex-column flex-lg-row align-items-center"
    >
      <div
        class="amount d-flex flex-column flex-lg-row align-items-center my-md-2"
      >
        <label class="ms-3 me-4 my-3" for="amount">Amount</label>
        <p-inputNumber
          id="amount"
          inputId="integeronly"
          formControlName="amount"
        ></p-inputNumber>
      </div>
      <div class="from d-flex flex-column flex-lg-row align-items-center my-2">
        <label class="m-3 my-3" for="from">From</label>
        <p-dropdown formControlName="from" [options]="symbols"></p-dropdown>
      </div>
      <div class="switch my-2 d-flex justify-content-center">
        <button
          pButton
          pRipple
          (click)="toggle()"
          class="d-flex justify-content-center"
        >
          <i class="bi bi-arrow-down-up"></i>
        </button>
      </div>
      <div class="to d-flex flex-column flex-lg-row align-items-center my-2">
        <label class="m-3 my-3" for="to">To</label>
        <p-dropdown formControlName="to" [options]="symbols"></p-dropdown>
      </div>
    </div>
    <div class="submit my-4 text-center">
      <button
        [disabled]="formgroup.invalid"
        pButton
        pRipple
        label="Convert"
      ></button>
    </div>
  </form>
  <section class="text-center w-100 d-flex justify-content-center">
    <div class="result w-100 py-3 text-center fw-bold fs-2 rounded-3">
      Results : {{ result }}
    </div>
  </section>
</section>
